nav {
    position: absolute;
    height: 92px;
    top: 0;
    left: 0;
    z-index: 9;
}

nav .nav__logo svg {
    height: 40px;
    width: auto;
    fill: #e50914;
}

header {
    padding-top: 92px;
}